.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
**/.DS_Store
**/Thumbs.db
**/*.log
**/.nyc_output/**
**/coverage/**
**/.vscode-test/**
**/test/**
**/*.test.js
**/*.test.ts
.editorconfig
.eslintrc.json
.npmignore
README.md
CHANGELOG.md
LICENSE